node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma

# Base de datos local (si aplica)
postgres/
*.db
*.sqlite

# Logs
logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Archivos temporales
*.tmp
*.temp